<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO SET</title>
    <link rel="icon" type="image/png" href="/assets/img/Set favicon.png">
    <link rel="stylesheet" href="../../../global/styles/styles.css">
    <script type="module" src="./../services/game-config-manager.js"></script>
</head>

<body class="body-main"  data-page="game-config">

    <!--Menu Hamburguesa solo móvil-->
    <button id="hamburger-btn" aria-label="Open menu">
        ☰
    </button>.

    <header class="topbar"> 

        <!--Menú principal-->
        <nav>
            <ul class="menu">
                <li><a href="../../login/views/welcome.html">Bienvenida</a></li>
                <li><a href="../../game/services/new-game.php">Nuevo juego</a></li>
                <li><a data-page="game-config" href="../../game-config/views/game-config.html">Configuración de partida</a></li>
                <li><a href="../../rankings/views/user-ranking.html">Histórico de partidas</a></li>
                <li><a href="../../rankings/views/global-ranking.html">Ranking global</a></li>
            </ul>
        </nav>

        <!--Selector de tema-->
        <button class="btn-secondary theme-toggle" data-theme-toggle aria-label="Toggle theme">
            <span class="icon-sun">☀️</span>
            <span class="icon-moon">🌙</span>
        </button>

        <!-- Menú de usuario -->
        <div class="user-menu">
            <div class="user-avatar" id="avatar">U</div>

            <div class="user-dropdown" id="userDropdown">
                <a href="../../../modules/user-config/views/config-user.html">Configuración</a>
                <a href="/../src/modules/login/views/login.html">Cerrar sesión</a>
            </div>
        </div>
    </header>

    <!--Menu móvil-->
    <nav id="mobile-menu">
        <ul>
            <hr>
            <li ><a href="../../login/views/welcome.html">Bienvenida</a></li>
            <hr>
            <li><a href="../../game/services/new-game.php">Nuevo juego</a></li>
            <hr>
            <li><a data-page="game-config" href="../../game-config/views/game-config.html">Configuración de partida</a></li>
            <hr>
            <li><a href="../../rankings/views/user-ranking.html">Histórico de partidas</a></li>
            <hr>
            <li><a href="../../rankings/views/global-ranking.html">Ranking global</a></li>
        </ul>

        <!--Selector de tema-->
        <button class="btn-secondary theme-toggle" data-theme-toggle aria-label="Toggle theme">
            <span class="icon-sun">☀️</span>
            <span class="icon-moon">🌙</span>
        </button>
    </nav>

    <div id="mobile-menu-overlay" class="mobile-menu-overlay"></div>

    <!-- Contenido principal de la página -->
    <main class="main-content">

        <div class="cards">

            <h2 class="title">Configuración de la Partida</h2>

            <form class="config-form" action="#" method="POST">

                <p class="config-desc">Seleccione el nivel deseado de la partida:</p>

                <select name="level" id="level" class="select-input">
                    <option value="1">Fácil</option>
                    <option value="2" selected>Medio</option>
                    <option value="3">Difícil</option>
                </select>

                <p id="details" class="config-details">
                    <b>Nivel Medio</b>: buena opción para quienes ya conocen el juego. <br>
                    Sin contrarreloj. Se permite añadir 3 cartas a la mesa y habrá una penalización de 0,5 por fallo.
                </p>

                <div class="form-group-check">
                    <input type="checkbox" id="pve" name="pve" class="check-input">
                    <label for="pve" class="label-check"> ¿Jugar contra la máquina?</label>
                </div>

                <button type="submit" class="btn-primary btn-wide" id="start" name="start">
                    Empezar partida
                </button>

            </form>

        </div>
    </main>

    <script src="../../../global/services/user-menu.js"></script>
    <script src="../../../global/services/theme.js"></script>
    <script src="../../../global/services/mobile-menu.js"></script>
    <script src="../../../global/services/current-page.js"></script>
</body>
</html>