<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO SET</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="./../services/form-game-config.js"></script>
</head>

<body>
    <header>
        <h1>PROYECTO SET</h1>
        <nav>
            <ul class="menu">
                <li><a href="/src/modules/login/views/welcome.html">Bienvenida</a></li>
                <li><a href="/src/modules/game/views/game.html">Nuevo juego</a></li>
                <li><a href="game-config.html">Configuración de partida</a></li>
                <li><a href="/src/views/user-ranking.html">Histórico de partidas</a></li>
                <li><a href="/src/views/global-ranking.html">Ranking global</a></li>
                <li><a href="/src/views/config-user.html">Configuración de usuario</a></li>
                <li class="cerrar-sesion"><a href="/src/modules/login/views/login.html">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <main class="cuerpo">
        <!-- Contenido principal de la página -->
        <h1 class="titulo">Configuración de la Partida</h1>
        <form action="" method="POST">
            <p>Seleccione el nivel deseado de la partida:</p>
            <select name="level" id="level">
                <option value="1">Fácil</option>
                <option value="2" selected>Medio</option>
                <option value="3">Difícil</option>
            </select>
            <p id="details"></p>
            <div style="padding: 10px;"></div>
            <input type="checkbox" id="pve" name="pve">
            <label for="pve"> ¿Jugar contra la máquina?</label>
            <div style="padding: 30px;"></div>
            <input type="submit" value="Empezar partida">
        </form>
    </main>
</body>
<script>

</script>

</html>