<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO SET</title>
    <link rel="icon" type="image/png" href="/public/assets/img/Set favicon.png">
    <link rel="stylesheet" href="../../../global/styles/styles.css">
    <link rel="stylesheet" href="../game.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="../services/game-manager.js"></script>
    <script src="../../../global/services/user-menu.js"></script>
</head>

<body>
    <div class="body-main">

        <header class="topbar">

            <!--Menú principal-->
            <nav>
                <ul class="menu">
                    <li><a href="../../login/views/welcome.html">Bienvenida</a></li>
                    <li><a href="../../game/services/new-game.php">Nuevo juego</a></li>
                    <li><a href="../../game-config/views/game-config.html">Configuración de partida</a></li>
                    <li><a href="../../../views/user-ranking.html">Histórico de partidas</a></li>
                    <li><a href="../../../views/global-ranking.html">Ranking global</a></li>
                </ul>
            </nav>

            <!--Selector de tema-->
            <button id="toggleTheme" class="btn-secondary" style="margin-left:20px;">
                Cambiar tema
            </button>

            <!-- Menú de usuario -->
            <div class="user-menu">
                <div class="user-avatar" id="avatar">U</div>

                <div class="user-dropdown" id="userDropdown">
                    <a href="../../../modules/user-config/views/config-user.html">Configuración</a>
                    <a href="/../src/modules/login/views/login.html">Cerrar sesión</a>
                </div>
            </div>

        </header>
    </div>

    <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <pattern id="stripesred" patternUnits="userSpaceOnUse" width="4" height="8">
                <rect width="1" height="8" fill="red" />
            </pattern>
            <pattern id="stripespurple" patternUnits="userSpaceOnUse" width="4" height="8">
                <rect width="1" height="8" fill="purple" />
            </pattern>
            <pattern id="stripesgreen" patternUnits="userSpaceOnUse" width="4" height="8">
                <rect width="1" height="8" fill="green" />
            </pattern>
        </defs>
    </svg>

    <!--    <main class="cuerpo">-->
    <main class="body-game">
        <!-- Contenido principal de la página -->
        <div class="game-layout">

            <div id="scoreboard">
                <div id="timer" class="timer">00:00</div>
                <p id="cardsLeft">Cartas restantes: <span id="cardsLeftCount"></span></p>
                <p id="errors">Errores: <span id="errorsCount"></span></p>
                <p id="score">Puntuación: <span id="scoreCount"></span></p>
                <p id="sets">Sets conseguidos: <span id="setsCount"></span></p>
            </div>

            <div class="game-right">
                <div id="cardsGrid">
                    <div id="cardPosition1" data-void="true"></div>
                    <div id="cardPosition2" data-void="true"></div>
                    <div id="cardPosition3" data-void="true"></div>
                    <div id="cardPosition4" data-void="true"></div>
                    <div id="cardPosition13" data-void="true"></div>
                    <div id="cardPosition5" data-void="true"></div>
                    <div id="cardPosition6" data-void="true"></div>
                    <div id="cardPosition7" data-void="true"></div>
                    <div id="cardPosition8" data-void="true"></div>
                    <div id="cardPosition14" data-void="true"></div>
                    <div id="cardPosition9" data-void="true"></div>
                    <div id="cardPosition10" data-void="true"></div>
                    <div id="cardPosition11" data-void="true"></div>
                    <div id="cardPosition12" data-void="true"></div>
                    <div id="cardPosition15" data-void="true"></div>
                </div>

                <div id="buttons"></div>
            </div>
        </div>
    </main>

    <script src="../../../global/services/theme.js"></script>

</body>

</html>