/* Grid de cartas */
#cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columnas */
  grid-template-rows: repeat(3, 30vh);
  /* 3 filas */
  gap: 10px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  /* ocupa todo el espacio disponible del body */
  box-sizing: border-box;

}

/* Carta */
.card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.shape-container.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.shape svg {
  width: auto;
  height: 100%;
  max-height: 100%;
}