/* Grid de cartas */
#cardsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 4 columnas */
  grid-template-rows: repeat(3, 30%);
  /* 3 filas */
  gap: 10px;
  width: 70vw;
  height: 80vh;
  flex-grow: 1;
  /* ocupa todo el espacio disponible del body */
  box-sizing: border-box;

}

/* Carta */
.card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.shape {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shape svg {
  width: auto;
  height: calc(100%/3);
  max-height: 100%;

}