/* ==========================
   HEADER
========================== */
.main-header {
    background: #161616;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}

.main-header h1 {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
}

/* ==========================
   NAVBAR
========================== */
.main-nav {
    display: flex;
    gap: 20px;
}

.main-nav a {
    color: var(--text-muted);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: var(--radius);
    transition: background 0.2s;
}

.main-nav a:hover {
    background: var(--primary-hover);
    color: white;
}

.main-nav .logout {
    background: #d11;
    color: white;
}

.main-nav .logout:hover {
    background: #a00;
}

/* ==========================
   CONTENIDO
========================== */
.content {
    flex: 1;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}
